.form-group {
  display: grid;
  place-items: center;
  grid-template-columns: 3fr 1fr;
  min-height: 30px;
  background-color: var(--bg-color);
  margin-bottom: 1em;
  justify-items: right;
}

.form-group .form-label {
  height: 24px;

}

.form-group .form-input {
  background-color: var(--bg-color);
  color: var(--fg-color-1);
  border: 1px solid var(--fg-color-2);
  padding: 0 1em 0 1em;
  height: 24px;
  text-align: right;
  min-width: 220px;
}

.form-group input[type=number] {
  text-align: left;
  width: 120px;
}


.form-group input::file-selector-button {
  background-color: var(--bg-color);
  color: var(--fg-color-2);
  height: 24px;
  border: 1px solid var(--fg-color-2);
  cursor: pointer;
  width: 80px;
  margin-right: 20px;
}

.form-group input::file-selector-button:hover {
  background-color: var(--fg-color-1);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}

.form-group input::file-selector-button:active {
  background-color: var(--fg-color-2);
  color: var(--fg-color-1);
  border: 1px solid var(--fg-color-2);
}


.form-group input[type=file] {
  width: 230px;
  border: none;
  text-align: left;
}