body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: grid;
  place-items: center;
  height: 100%
}

.app-wrapper {
  max-width: 1000px;
}

.alert {
  width: 100%;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  color: var(--fg-color-1);
  cursor: pointer;
}

.alert-success {
  background-color: #52a752;
}

.alert-error {
  background-color: #d76969;
}

.button {
  background-color: var(--bg-color);
  color: var(--fg-color-2);
  height: 30px;
  padding: 0 1em 2px 1em;
  border: 1px solid var(--fg-color-2);
  cursor: pointer;
}

.button:hover {
  background-color: var(--fg-color-1);
  color: var(--bg-color);
  border: 1px solid var(--bg-color);
}

.button:active {
  background-color: var(--fg-color-2);
  color: var(--fg-color-1);
  border: 1px solid var(--fg-color-2);
}

.input {
  background-color: var(--bg-color);
  color: var(--fg-color-2);
  height: 28px;
  padding: 0 1em 0 1em;
  border: 1px solid var(--fg-color-2);
}

.input:focus {
  outline: none;
  border: 1px solid var(--fg-color-1);
  color: var(--fg-color-1);
}

.theme-btn {
  display: grid;
  place-items: center;
  max-width: 42px;
}

.theme-btn-svg {
  width: 15px;
  height: 15px;
  fill: var(--fg-color-2);
}


.content-wrapper {
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  color: var(--fg-color-2);
}

hr {
  background-color: var(--fg-color-2);
  border: none;
  height: 1px;
  width: 80%;
}



@media only screen and (max-width: 1000px) {
  .app-wrapper {
    max-width: 800px;
  }
}