{% extends "layout.html" %}
{% block content %}
  {% if student == None %}
    <div class="profile-none">
      <span>
        هذا الطالب غير مسجل
      </span>
    </div>
  {% else %}
    <div class="profile">

      <div class="left-content-wrapper">
        <div class="left-content">
          <button class="button" onclick="window.location.replace(window.location.origin + '/modifyStudent/' + {{ student.registrationNumber }});">modify</button>
          <img class="profile-pic" src="{{ url_for('static', filename='studentPics/{}'.format(student.picture)) }}" alt="profile-picture">

          <div class="french-name">
            <div class="last-name">{{ student.frenchLastName }}</div>
            <div class="first-name">{{ student.frenchFirstName }}</div>
          </div>

          <div class="contact">
            <div class="address">
              <svg xmlns="http://www.w3.org/2000/svg" fill="var(--fg-color-2)" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C7.589 2 4 5.589 4 9.995 3.971 16.44 11.696 21.784 12 22c0 0 8.029-5.56 8-12 0-4.411-3.589-8-8-8zm0 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4z"/></svg>
              <span>{{ student.address }}</span>
            </div>
            <div class="phone-number">
              <svg xmlns="http://www.w3.org/2000/svg" fill="var(--fg-color-2)" width="24" height="24" viewBox="0 0 24 24"><path d="m20.487 17.14-4.065-3.696a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a.997.997 0 0 0-.085-1.39z"/></svg>
              <span>{{ student.phoneNumber }}</span>
            </div>
          </div>
        </div>
      </div>

    
      <div class="right-content">

        <div class="info-section">
          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.registrationNumber }}
            </div>
            <div class="info-label">: رقم التسجيل</div>
          </div>
        </div>

        <hr>

        <div class="info-section">

          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.arabicLastName }}
            </div>
            <div class="info-label">: اللقب</div>
          </div>

          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.arabicFirstName }}
            </div>
            <div class="info-label">: الإسم</div>
          </div>

          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.grade }}
            </div>
            <div class="info-label">: الرتبة</div>
          </div>

          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.nationality }}
            </div>
            <div class="info-label">: الجنسية</div>
          </div>

          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.bloodGroup }}
            </div>
            <div class="info-label">: فصيلة الدم</div>
          </div>

          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.birthDate }}
            </div>
            <div class="info-label">: تاريخ الإزدياد</div>
          </div>

          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.birthPlace }}
            </div>
            <div class="info-label">: مكان الإزدياد</div>
          </div>

          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.address }}
            </div>
            <div class="info-label">: العنوان</div>
          </div>

        </div>

        <hr>

        <div class="info-section">
          <div class="two-cell-info-output">
            <div class="two-cell-info-output-section">
              <div class="info-real">
                {{ student.fatherProfession }}
              </div>
              <div class="info-label">: مهنته</div>
            </div>
            <div class="two-cell-info-output-section">
              <div class="info-real">
                {{ student.fatherName }}
              </div>
              <div class="info-label">: إبن</div>
            </div>
          </div>

        
          <div class="two-cell-info-output">
            <div class="two-cell-info-output-section">
              <div class="info-real">
                {{ student.motherProfession }}
              </div>
              <div class="info-label">: مهنتها</div>
            </div>
            <div class="two-cell-info-output-section">
              <div class="info-real">
                {{ student.motherName }}
              </div>
              <div class="info-label">: و</div>
            </div>
          </div>


          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.siblingsNumber }}
            </div>
            <div class="info-label">: عدد الإخوة</div>
          </div>
        </div>

        <hr>


        <div class="info-section">

          <div class="one-cell-info-output">
            <div class="info-real">
              <input type="checkbox" {{ "checked" if student.parentsDivorced else ""}} onclick="return false;">
            </div>
            <div class="info-label">: الأبوان مطلقان</div>
          </div>

          <div class="two-cell-info-output">
            <div class="two-cell-info-output-section">
              <div class="info-real">
                {{ student.fatherDeathDate }}
              </div>
              <div class="info-label">: بتاريخ</div>
            </div>
            <div class="two-cell-info-output-section">
              <div class="info-real">
                <input type="checkbox" {{ "checked" if student.fatherDead else ""}} onclick="return false;">
              </div>
              <div class="info-label">: الأب متفى</div>
            </div>
          </div>

        
          <div class="two-cell-info-output">
            <div class="two-cell-info-output-section">
              <div class="info-real">
                {{ student.motherDeathDate }}
              </div>
              <div class="info-label">: بتاريخ</div>
            </div>
            <div class="two-cell-info-output-section">
              <div class="info-real">
                <input type="checkbox" {{ "checked" if student.motherDead else ""}} onclick="return false;">
              </div>
              <div class="info-label">: الأم متوفية</div>
            </div>
          </div>

        </div>

        <hr>

        <div class="info-section">
          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.joiningDate}}
            </div>
            <div class="info-label">: تاريخ الإنخراط</div>
          </div>

          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.arrivalDate}}
            </div>
            <div class="info-label">: تاريخ الإلتحاق بالمدرسة</div>
          </div>

          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.departureDate}}
            </div>
            <div class="info-label">: تاريخ مغادرة المدرسة</div>
          </div>
        </div>

        <hr>

        <div class="info-section">
          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.phoneNumber}}
            </div>
            <div class="info-label">: رقم الهاتف المحمول</div>
          </div>

          <div class="one-cell-info-output">
            <div class="info-real">
              {{ student.parentPhoneNumber}}
            </div>
            <div class="info-label">: رقم هاتف الولي</div>
          </div>
        </div>

      

      </div>

    
    </div>
  {% endif %}
{% endblock content %}
