<!DOCTYPE html>
<html>
  <head>
    <title>
    {% if title %}
      {{ title }}
    {% else %}
      StdMgmt
    {% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <h1>navbar</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock content %}
  </body>
</html>
